#abouttitle{
    float: left;
    margin-left: 700px;
}

.aboutus{
    width: 230px;
    height: 230px;
    background-color: lightcoral;
    margin-top: 60px;
    display: block;
    float: left;
    margin-left: 10px;
    text-align: center;
    line-height: 230px;
    color: white;
}

.aboutus:hover{
    background-color: dodgerblue;

}

#maincontact {
    float: left;
    margin-left: 280px;

}