#culture{
    float: left;
    margin: auto;
    width: 960px;
    /*height: 100%;*/
}

#culture img{
    width: 960px;
    height: 360px;
   	margin: auto;
    float: left;

}

#culture h1{
    color: red;
    text-align: center;
}