
*{
	margin: 0;
	padding: 0;
	background-color: #f6f5ec;
}


header{
	height: 90px;
	width: 960px;
	margin: 0 auto;
	background-color: #d1c7b7;
}

#logo{
	width: 120px;
	height: 90px;
	float: left;
	background-color: rgba(0,0,0,0);
}

#headtitile{
	background-color: rgba(0,0,0,0);
	line-height: 90px;
	margin-left: 30px;
	float: left;
	font-size: 28px;
}

#logo img{
	width: 120px;
	height: 90px;
}

nav{
	height: 50px;
	width: 960px;
	background-color: #EFF5FB;
	margin: 0 auto;
	line-height: 50px;

}

nav ul{
	margin-right: 100px;
	width: 960px;
	text-align: center;

}

nav ul li{
	display: inline-block;
	width: 160px;
	height: 50px;
	float: left;


}

nav a {
	text-decoration: none;
	color: #2E2E2E;
}

#banner{

	width: 1920px;
	height: 560px;
	background-color: #fffef9;

}

#main{
	width: 960px;
	height: 240px;
	margin-left: 500px;
	float: left;

}

#right{
	width: 460px;
	height: 360px;

}

#main li{
	width: 360px;
	height: 30px;
	float: left;
	display:inline-block;
	color: #2E2E2E;

}

#main li:hover{
	background-color: #F8ECE0;

}

footer{
	width: 1920px;
	height: 120px;
	background-color: #585858;
	margin-top: 30px;
	float: left;
}

#footnav{
		width: 360px;
		height: 120px;
		background-color: rgba(0,0,0,0);
		float: left;
		margin-left: 500px;
}

#footnav li{
	background-color: #585858;
	display: block;
}

#footnav a{
	
	text-decoration: none;
	background-color: rgba(0,0,0,0);
	color: white;

}

.preview {
			width: 360px;
			height:90px;
			position: absolute;
			top:0;
			left:-90px;
			z-index:100;
			-webkit-transition:  all 0.3s ease-out; 
			-moz-transition:  all 0.3s ease-out; 
			transition:  all 0.3s ease-out; 	
			opacity:0;
		}
		
.preview img {
			position: absolute;
			left:90px;
			top:0;
			width: 90px;
		}
		
.preview .alt {
			position: absolute;
			left:180px;
			top:0;
			background: #fff;
			width: 180px;
			height:90px;
			color:#000;
			text-indent:0;
			text-transform: uppercase;
			text-align:center;
			font-size:16px;
			line-height:90px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-o-box-sizing: border-box;
		}
		
		
		/* next button */			
.flex-next .preview {
			right:-50px;
			left:auto;	
		}
		
.flex-next .preview img {
			position: absolute;
			left:180px;
			top:0;
			width: 90px;
		}
		
.flex-next .preview .alt {
			left:0;
		}
		
		
		/* hover style */		
.flex-prev:hover .preview {
			left:0;
			opacity:1;
		}
		
.flex-next:hover .preview {
			right:0;
			opacity:1;
		}	

#info{

	background-color: rgba(0,0,0,0);
}

#info h1{
	background-color: rgba(0,0,0,0);
}	

#info p{
	background-color: rgba(0,0,0,0);
}


#flex-direction-nav{
	background-color: rgba(0,0,0,0);
}


