
#teamimg{
    float: left;
    margin-left: 300px;
    margin-top: 30px;
    /*width: 100%;*/
    /*background-color: gainsboro;*/
}


.teamlist{
    width: 320px;
    height: 300px;
    background-color: white;
    margin-right: 20px;
    float: left;
    margin-top: 20px;
    border: 1px solid gainsboro;
}



#teamimg img{
    width:320px;
    height: 210px;
    margin-bottom: 10px;
}

#teamimg p{
    text-align: center;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0);
}

#xian{
    width: 20px;
    height: 5px;
    background-color: red;

    margin: auto;
}