<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>new</title>
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/new.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	   <header>
        <div id="logo"><img src="/static/img/1.jpg"></div>
        <div id='headtitile'>测试网站</div>
    </header>
    <nav id="nav">
        <ul>
			<li><a href="/index">首页</a></li>
			<li><a href="/about">我们</a></li>
			<li><a href="/new">动态</a></li>
			<li><a href="/team">团队</a></li>
			<li><a href="/culture">文化</a></li>
			<li><a href="/contact">联系</a></li>
        </ul>
    </nav>




    <div id="new">
        <div id="newlist">
            <ul>
                {% for new in newlist %}
                <li class="newtitle">
                    <a href="#">
                        <did class="info">
                            <h2 class="titletrans">{{new.newtitle}}</h2>
                            <hr class="trans">
                            <p class="nweart">{{new.newdetails}}</p>
                            <span class="newspan">{{new.addtime}}</span>
                        </did>
                    </a>
                </li>
                {% endfor %}
            </ul>

        </div>


    </div>



    <footer id="footer">
        <div id='footnav'>
            <ul>
                <li><a href="#">测试链接</a></li>
                <li><a href="#">测试链接</a></li>
                <li><a href="#">测试链接</a></li>
                <li><a href="#">测试链接</a></li>
                <li><a href="#">测试链接</a></li>
            </ul>
        </div>
        <div id="footqrcode">
            <img src="/static/img/qr1.png"  >
            <p id="imgright">扫一扫</p>
            <img src="/static/img/qr2.png" >
            <p id="imgleft">扫一扫</p>
            <div id="footmap"></div>

    </footer>


</body>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/demo.js"></script>
	<script type="text/javascript" src="/static/js/index.js"></script>
</html>